.priority1{
  border-left: 8px solid rgb(15, 182, 59);
}

.priority2{
  border-left: 8px solid gold;
}

.priority3{
  border-left: 8px solid red;
}

.card {
  margin-bottom: 40px;
  padding: 10px;
}

