<div class="form">
  <h1 mat-dialog-title>Aggiungi un nuovo Todo</h1>
  <div mat-dialog-content class="dialog-box">
    <mat-form-field>
      <mat-label>Inseisci Titolo:</mat-label>
      <input [(ngModel)]="newTodo.title" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Seleziona Priorità:</mat-label>
      <mat-select [(ngModel)]="newTodo.priority">
        <mat-option value="1">Priorità bassa</mat-option>
        <mat-option value="2">Priorità media</mat-option>
        <mat-option value="3">Priorità alta</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Scrivi una Descrizione:</mat-label>
      <textarea [(ngModel)]="newTodo.description" matInput></textarea>
    </mat-form-field>
  </div>

  <div class="form-btn-box" align="end" mat-dialog-actions>
    <button mat-button mat-dialog-close>Annulla</button>
    <button (click)="saveTodo()" mat-button mat-dialog-close cdkFocusInitial>Salva</button>
  </div>
</div>
